/* global */

body{
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 15px;
    line-height: 2;
}

h1,h2,h3{
    text-align: center;
}

h1{
    font-size: 45px;
}

h2{
    font-size: 28px;

}

h3{
    font-size: 20px;
    columns: #703d3d;
}

/* header section */
header{
    background-image: url(circuit.jpg);
    width: 100%;
    height: 200px;
    color: rgb(233, 235, 243);
    text-align: center;
    
}

/* btn */
.btn{
    display: block;
    background-color: blue;
    color: white;
    font-size: 18px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

/* main*/
.text{
    text-align: center;
}


.text p{
    display: block;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;

}

/* icons */

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: rgb(178, 197, 226);
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

}